<html lang="en">
<head>
  <meta charset="utf-8">
  <title>StoryBear</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <div id="mainWrap">
    <h1>StoryBear</h1>
    <h4>Bearin' {{ total_stories }} stories and {{ total_posts }} posts from {{ total_users }} users...</h4>
    <hr>
    <div v-if="current_view==0">
      <h3>Search</h3>
      <table style="border-collapse:separate; border-spacing:1em;">
        <tr>
          <td>Username:</td>
          <td>
            <input type="text" v-model="forms.username" placeholder="Username" v-on:input="autoc($event.target.value);">
            <div v-for="itm in suggestions">
              <div class="auto-item" v-on:click="autofield(itm);">{{ itm }}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Account:</td>
          <td><input type="text" v-model="forms.account" placeholder="Account"></td>
        </tr>
        <tr>
          <td>Date:
          </td>
          <td>
            From:<input type="date" v-model="forms.d_from" placeholder="From"><br>
            To:&nbsp;&nbsp;<input type="date" v-model="forms.d_to" placeholder="To">
          </td>
        </tr>
        </form>
        <tr>
          <td><button onclick="search();">Search</button></td>
        </tr>
      </table>
    </div>
    <div v-if="current_view==1">
      <button onclick="goBack();">Go Back</button>&nbsp;Found {{ st_len }} stories matching your search.
      <div class="media-container">
        <div v-if="current_story.is_video">
          <video controls loop autoplay class="media-container" v-bind:src="'story/'+current_story.id"></video>
        </div>
        <div v-else>
          <img class="media-container" v-bind:src="'story/'+current_story.id">
        </div>
      </div>
      <br>
      <div id="metadata">
        <div id="storyInfo">
          ID: {{ current_story.id }}<br>
          Uploaded on: {{ current_story.uploaded }}<br>
          User: <a target="_blank" v-bind:href="'https://www.instagram.com/'+current_story.user.username"><img class="profile_pic"
              v-bind:src="current_story.user.profile_pic" width="25" height="25">&nbsp;{{ current_story.user.username }}</a><br>
          <a target="_blank" v-bind:href="'profile_pictures/'+current_story.user.id">Profile pictures</a><br>
          <a href="#" onclick="loadPosts();">Posts</a>&nbsp;<input type="checkbox" v-model="forms.poststalk" v-on:change="updatePostStalk()"><br>
          Notifications: <input type="checkbox" v-model="forms.notifications" v-on:change="updateNotif()">
        </div>
        <br>
        <nav>
          <button onclick="previousStory();"><</button> {{ idx+1 }}/{{ st_len }} <button onclick="nextStory();">></button>
        </nav>
      </div>
    </div>
    <div v-if="current_view==2">
      <button onclick="goBack();">Go Back</button>&nbsp;Found {{ posts_len }} posts matching your search.
      <div class="media-container">
        <div v-if="current_post.is_video">
          <video controls loop autoplay class="media-container" v-bind:src="'post/'+current_post.id"></video>
        </div>
        <div v-else>
          <img class="media-container" v-bind:src="'post/'+current_post.id">
        </div>
      </div>
      <br>
      <div id="metadata">
        <div id="storyInfo">
          ID: {{ current_post.id }}<br>
          Shortcode: {{ current_post.shortcode }}<br>
          Caption: {{ current_post.caption }}<br>
          Uploaded on: {{ current_post.uploaded }}<br>
          User: <a target="_blank" v-bind:href="'https://www.instagram.com/'+current_story.user.username"><img class="profile_pic"
              v-bind:src="current_story.user.profile_pic" width="25" height="25">&nbsp;{{ current_story.user.username }}</a><br>
          <a target="_blank" v-bind:href="'/storybear.php?action=pfps&uid='+current_story.user.id">Profile pictures</a><br>
        </div>
        <br>
        <nav>
          <button onclick="previousPost();"><</button> {{ post_idx+1 }}/{{ posts_len }} <button onclick="nextPost();">></button>
        </nav>
      </div>
    </div>
  </div>
  <script src="static/js/jquery-3.3.1.min.js"></script>
  <script src="static/js/vue.min.js"></script>
  <script src="static/js/instabear.js"></script>
  <script>
    app.total_stories='%% story_count %%';
    app.total_users= '%% user_count %%';
    app.total_posts='%% post_count %%';
  </script>
</body>

</html>